<!DOCTYPE html>
<html dir="ltr" lang="en" style="direction: ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Add address</title>
</head>
<style>


    #addressForm {
        background-color: #979a8a;
        margin: 60px auto;
        padding: 40px;
        width: 50%;
        min-width: 300px;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Style the input fields */
    input {
        padding: 10px;
        width: 100%;
        font-size: 16px;
        border: 1px solid #aaaaaa;
    }

</style>

<body>
<form id="addressForm" class="form" th:action="@{/add-address-to-user/{username}(username=${username})}" method="post" th:object="${addressDTO}">
    <div class="tab">
        <h2>Address</h2>
        <p>
            <label class="countryLabel">country</label>
            <input type="text" th:field="*{country}" required
                   class="countryInput" name="country" id="country" placeholder="country"/>
        </p>
        <p>
            <label class="provinceLabel">province</label>
            <input type="text" th:field="*{province}" required
                   class="provinceInput" name="province" id="province" placeholder="province"/>
        </p>
        <p>
            <label class="cityLabel">city</label>
            <input type="text" th:field="*{city}" required
                   class="cityInput" name="city" id="city" placeholder="city"/>
        </p>
        <p>
            <label class="postalCodeLabel">postalCode</label>
            <input type="text" th:field="*{postalCode}" required
                   class="postalCodeInput" name="postalCode" id="postalCode" placeholder="postalCode"/>
        </p>
    </div>
    <button type="submit" id="submit" onclick="nextPrev(1)">submit</button>
</form>
</body>
</html>