<!DOCTYPE html>

<html lang="en" direction="rtl" dir="rtl" style="direction: rtl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Ghomsheh | افزودن آدرس</title>
    <meta name="description" content="address page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />


    <link href="/css/pages/login/login-3.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/plugins/global/plugins.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/plugins/custom/prismjs/prismjs.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/style.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
/
    <link href="/css/themes/layout/header/base/light.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/header/menu/light.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/brand/dark.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/aside/dark.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/media/logos/favicon.ico" />

</head>

<script>

    function nextButton(){
        let firstName = document.getElementById("firstName").value;
        let lastName = document.getElementById("lastName").value;
        let phoneNumber = document.getElementById("phoneNumber").value;
        let nationalCode = document.getElementById("nationalCode").value;
        let email = document.getElementById("email").value;
        let country = document.getElementById("country").value;
        let province = document.getElementById("province").value;
        let city = document.getElementById("city").value;
        let postalCode = document.getElementById("postalCode").value;

        document.getElementById("firstNameAndLastNameLabel").innerHTML = firstName + " " + lastName;
        document.getElementById('nationalCodeLabel').innerHTML = nationalCode;
        document.getElementById('phoneNumberLabel').innerHTML = phoneNumber;
        document.getElementById('emailLabel').innerHTML = email;
        document.getElementById('countryLabel').innerHTML = country;
        document.getElementById('provinceLabel').innerHTML = province;
        document.getElementById('cityLabel').innerHTML = city;
        document.getElementById('postalCodeLabel').innerHTML = postalCode;
    }

</script>

<body id="kt_body"
      class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

<div class="d-flex flex-column flex-root">

    <div class="login login-3 wizard d-flex flex-column flex-lg-row flex-column-fluid wizard" id="kt_login">

        <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #995e5c">

            <div class="d-flex flex-column-auto flex-column pt-15 px-30">
                <a href="home.html" class="text-center mb-10">
                    <h3>Ghomsheh<span>Website</span></h3>
                </a>


                <!--begin: Wizard Nav-->
                <div class="wizard-nav pt-1 pt-lg-25">
                    <!--begin::Wizard Steps-->
                    <div class="wizard-steps">
                        <div class="wizard-step" data-wizard-type="step">
                            <div class="wizard-wrapper">
                                <div class="wizard-icon">
                                    <i class="wizard-check ki ki-check"></i>
                                    <span class="wizard-number">1</span>
                                </div>
                                <div class="wizard-label">
                                    <h3 class="wizard-title">
                                        جزییات آدرس
                                    </h3>
                                    <div class="wizard-desc">
                                        آدرس ها خود را وارد کنید
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Wizard Steps-->
                </div>
                <!--end: Wizard Nav-->
            </div>
            <!--end::Aside Top-->

            <!--begin::Aside Bottom-->
            <div class="aside-img-wizard d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center pt-2 pt-lg-5"
                 style="background-position-y: calc(100% + 3rem); background-image: url(/media/svg/illustrations/features.svg)">
            </div>
            <!--end::Aside Bottom-->
        </div>
        <!--begin::Aside-->

        <!--begin::Content-->
        <div class="login-content flex-column-fluid d-flex flex-column p-10">
            <!--begin::Top-->
            <div class="text-right d-flex justify-content-center">
                <div class="top-signup text-right d-flex justify-content-end pt-5 pb-lg-0 pb-10">
                    <span class="font-weight-bold text-muted font-size-h5">آیا به مشکل برخورده‌اید؟</span>
                    <a href="Request support.html" class="font-weight-bolder text-primary font-size-h5 ml-2"
                       id="kt_login_signup">کمک بگیر</a>
                </div>
            </div>
            <!--end::Top-->

            <!--begin::Wrapper-->
            <div class="d-flex flex-row-fluid flex-center">
                <!--begin::Signin-->
                <div class="login-form login-form-signup">
                    <!--begin::Form-->
                    <form th:action="@{/add-address-to-user/{username}(username=${username})}" method="post" th:object="${addressDTO}"
                          class="form" novalidate="novalidate" id="kt_login_signup_form">

                        <div class="pb-5" data-wizard-type="step-content">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">کشور</label>
                                        <input type="text" th:field="*{country}"
                                               class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="country" id="country" placeholder="ایران"  />
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">استان</label>
                                        <input type="text" th:field="*{province}"
                                               class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="province" id="province" placeholder="تهران"  />
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">شهر</label>
                                        <input type="text" th:field="*{city}"
                                               class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="city" id="city" placeholder="تهران" />
                                    </div>

                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">کد پستی</label>
                                        <input type="text" th:field="*{postalCode}" required maxlength="10"
                                               class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="postalCode" id="postalCode" placeholder="1234567890" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--begin: Wizard عملیات-->
                        <div class="d-flex justify-content-between pt-3">
                            <div>
                                <button type="submit"
                                        class="btn btn-primary font-weight-bolder font-size-h6 pl-5 pr-8 py-4 my-3"
                                        data-wizard-type="action-submit"
                                        id="kt_login_signup_form_submit_button">
                                    ارسال
                                    <span class="svg-icon svg-icon-md ml-2">
                                            <!--begin::Svg Icon | path:/media/svg/icons/Navigation/چپ-2.svg--><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.3"
                                                          transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000) "
                                                          x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                    <path
                                                            d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                            fill="#000000" fill-rule="nonzero"
                                                            transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) " />
                                                </g>
                                            </svg>
                                        <!--end::Svg Icon--></span> </button>
                            </div>
                        </div>
                        <!--end: Wizard عملیات-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Signin-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Login-->
</div>
<!--end::Main-->


<script>
    var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";
</script>
<!--begin::Global Config(global config for global JS scripts)-->
<script>
    var KTAppSettings = {
        "breakpoints": {
            "sm": 576,
            "md": 768,
            "lg": 992,
            "xl": 1200,
            "xxl": 1400
        },
        "colors": {
            "theme": {
                "base": {
                    "white": "#ffffff",
                    "primary": "#3699FF",
                    "secondary": "#E5EAEE",
                    "success": "#1BC5BD",
                    "info": "#8950FC",
                    "warning": "#FFA800",
                    "danger": "#F64E60",
                    "light": "#E4E6EF",
                    "dark": "#181C32"
                },
                "light": {
                    "white": "#ffffff",
                    "primary": "#E1F0FF",
                    "secondary": "#EBEDF3",
                    "success": "#C9F7F5",
                    "info": "#EEE5FF",
                    "warning": "#FFF4DE",
                    "danger": "#FFE2E5",
                    "light": "#F3F6F9",
                    "dark": "#D6D6E0"
                },
                "inverse": {
                    "white": "#ffffff",
                    "primary": "#ffffff",
                    "secondary": "#3F4254",
                    "success": "#ffffff",
                    "info": "#ffffff",
                    "warning": "#ffffff",
                    "danger": "#ffffff",
                    "light": "#464E5F",
                    "dark": "#ffffff"
                }
            },
            "gray": {
                "gray-100": "#F3F6F9",
                "gray-200": "#EBEDF3",
                "gray-300": "#E4E6EF",
                "gray-400": "#D1D3E0",
                "gray-500": "#B5B5C3",
                "gray-600": "#7E8299",
                "gray-700": "#5E6278",
                "gray-800": "#3F4254",
                "gray-900": "#181C32"
            }
        },
        "font-family": "Poppins"
    };
</script>
<!--end::Global Config-->

<!--begin::Global تم Bundle(used by all pages)-->
<script src="/plugins/global/plugins.bundle.js?v=7.0.6"></script>
<script src="/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
<script src="/js/scripts.bundle.js?v=7.0.6"></script>
<!--end::Global تم Bundle-->


<!--begin::Page Scripts(used by this page)-->
<script src="/js/pages/custom/login/login-3.js?v=7.0.6"></script>
<!--end::Page Scripts-->
</body>
<!--end::Body-->

</html>
