<!DOCTYPE html>

<html lang="en" direction="rtl" dir="rtl" style="direction: rtl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Ghomsheh | profile</title>
    <meta name="description" content="profile page" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />


    <link href="/css/pages/login/login-1.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/plugins/global/plugins.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/plugins/custom/prismjs/prismjs.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/style.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/header/base/light.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/header/menu/light.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/brand/dark.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="/css/themes/layout/aside/dark.rtl.css?v=7.0.6" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/media/logos/favicon.ico" />
</head>
<body id="kt_body"
    class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">

    <div class="d-flex flex-column flex-root">

        <div class="login login-3 wizard d-flex flex-column flex-lg-row flex-column-fluid wizard" id="kt_login">

            <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #995e5c">

                <div class="d-flex flex-column-auto flex-column pt-15 px-30">
                    <a href="home.html" class="text-center mb-10">
                        <h3>Ghomsheh<span>Website</span></h3>
                    </a>


                    <!--begin: Wizard Nav-->
                    <div class="wizard-nav pt-5 pt-lg-30">
                        <!--begin::Wizard Steps-->
                        <div class="wizard-steps">
                            <!--begin::Wizard Step 1 Nav-->
                            <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">1</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            اطلاعات اولیه
                                        </h3>
                                        <div class="wizard-desc">
                                            نام و ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 1 Nav-->

                            <!--begin::Wizard Step 2 Nav-->
                            <div class="wizard-step" data-wizard-type="step">
                                <div class="wizard-wrapper">
                                    <div class="wizard-icon">
                                        <i class="wizard-check ki ki-check"></i>
                                        <span class="wizard-number">2</span>
                                    </div>
                                    <div class="wizard-label">
                                        <h3 class="wizard-title">
                                            جزییات آدرس
                                        </h3>
                                        <div class="wizard-desc">
                                            آدرس ها خود را مشاهده می کنید
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wizard Step 2 Nav-->
                        </div>
                        <!--end::Wizard Steps-->
                    </div>
                    <!--end: Wizard Nav-->
                </div>
                <!--end::Aside Top-->

            <!--begin::Aside Bottom-->
            <div class="aside-img-wizard d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center pt-2 pt-lg-5"
                 style="background-position-y: calc(100% + 3rem); background-image: url(/media/svg/illustrations/features.svg)">
            </div>
            <!--end::Aside Bottom-->
        </div>
        <!--begin::Aside-->

        <!--begin::Content-->
        <div class="login-content flex-column-fluid d-flex flex-column p-10">
            <!--begin::Wrapper-->
            <div class="d-flex flex-row-fluid flex-center">
                <!--begin::Signin-->
                <div class="login-form login-form-signup">
                    <!--begin::Form-->
                    <form th:action="@{/home}" method="GET" th:object="${userDetail}"
                          class="form" novalidate="novalidate" id="kt_login_signup_form">
                        <!--begin: Wizard Step 1-->
                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                            <div class="pb-10 pb-lg-15">
                                <h3 class="font-weight-bolder text-dark display5">صفحه مشخصات</h3>
                                <div class="text-muted font-weight-bold font-size-h6">
                                    آیا قصد ویرایش دارید؟
                                    <a href=""
                                       class="text-primary font-weight-bolder">ویرایش</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">نام</label>
                                        <input class="form-control h-auto py-6 px-6 border-0 rounded-lg font-size-h6"
                                               name="firstName" id="firstName" type="text" th:field="${userDetail.firstName}"/>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">نام خانوادگی</label>
                                        <input class="form-control h-auto py-6 px-6 border-0 rounded-lg font-size-h6"
                                               name="lastName" id="lastName" type="text" th:field="${userDetail.lastName}" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">شماره همراه</label>
                                        <input class="form-control h-auto py-6 px-6 border-0 rounded-lg font-size-h6"
                                               name="phoneNumber" id="phoneNumber" type="text" th:field="${userDetail.phoneNumber}"/>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">کد ملی</label>
                                        <input class="form-control h-auto py-6 px-6 border-0 rounded-lg font-size-h6"
                                               name="nationalCode" id="nationalCode" type="text" th:field="${userDetail.nationalCode}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">نام کاربری</label>
                                        <input class="form-control h-auto py-6 px-6 border-0 rounded-lg font-size-h6"
                                               name="username" id="username" type="text" th:field="${userDetail.username}" />
                                    </div>
                                    <!--end::Input-->
                                </div>

                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">پست الکترونیک</label>
                                        <input class="form-control h-auto py-6 px-6 border-0 rounded-lg font-size-h6"
                                               name="email" id="email" type="email" th:field="${userDetail.email}"/>
                                    </div>
                                    <!--end::Input-->
                                </div>

                                <div class="col-xl-6">
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">کلمه عبور</label>
                                        <div class="text-danger font-weight-bold font-size-h6">
                                            آیا قصد ویرایش کلمه عبور را دارید؟
                                            <a th:href="@{/change-password/{username}(username=${userDetail.username})}" class="navi-item">ویرایش کلمه عبور</a>
                                        </div>
                                    </div>
                                    <!--end::Input-->
                                </div>

                            </div>
                        </div>

                        <div class="pb-5" data-wizard-type="step-content">

                            <div class="pt-lg-0 pt-5 pb-15">
                                <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">جزییات آدرس
                                </h3>
                                <div class="text-muted font-weight-bold font-size-h4">
                                    آدرس دیگری دارید؟
                                    <a th:href="@{/add-address/{username}(username=${userDetail.username})}" class="navi-item">افزودن آدرس</a>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">کشور</label>
                                        <input class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="country" id="country" type="text" th:field="${userDetail.addressDTO.country}"/>
                                    </div>
                                </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">استان</label>
                                        <input class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="province" id="province" type="text" th:field="${userDetail.addressDTO.province}"/>
                                    </div>
                                </div>

                                </div>

                                <div class="row">

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">شهر</label>
                                        <input class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="city" id="city" type="text" th:field="${userDetail.addressDTO.city}"/>
                                    </div>

                                    </div>

                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">کد پستی</label>
                                        <input class="form-control h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                                               name="postalCode" id="postalCode" type="text" th:field="${userDetail.addressDTO.postalCode}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Wizard Step 2-->


                        <!--begin: Wizard عملیات-->
                        <div class="d-flex justify-content-between pt-3">
                            <div class="mr-2">
                                <button type="button"
                                        class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3"
                                        data-wizard-type="action-prev">
                                        <span class="svg-icon svg-icon-md mr-1">
                                            <!--begin::Svg Icon | path:/media/svg/icons/Navigation/راست-2.svg--><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.3"
                                                        transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000) "
                                                        x="14" y="7" width="2" height="10" rx="1" />
                                                    <path
                                                        d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z"
                                                        fill="#000000" fill-rule="nonzero"
                                                        transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997) " />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon--></span> قبلی
                                    </button>
                                </div>
                                <div>
                                    <button type="submit"
                                        class="btn btn-primary font-weight-bolder font-size-h6 pl-5 pr-8 py-4 my-3"
                                        data-wizard-type="action-submit"
                                        id="kt_login_signup_form_submit_button">
                                        تایید
                                        <span class="svg-icon svg-icon-md ml-2">
                                            <!--begin::Svg Icon | path:/media/svg/icons/Navigation/چپ-2.svg--><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.3"
                                                        transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000) "
                                                        x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                    <path
                                                        d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                        fill="#000000" fill-rule="nonzero"
                                                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) " />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon--></span> </button>
                                    <button type="button" id="nextStepButton"
                                        class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3"
                                        data-wizard-type="action-next" onclick="nextButton();">
                                        گام بعدی
                                        <span class="svg-icon svg-icon-md ml-1">
                                            <!--begin::Svg Icon | path:/media/svg/icons/Navigation/چپ-2.svg--><svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.3"
                                                        transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000) "
                                                        x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                    <path
                                                        d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                        fill="#000000" fill-rule="nonzero"
                                                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997) " />
                                                </g>
                                            </svg>
                                            <!--end::Svg Icon--></span> </button>
                                </div>
                            </div>
                            <!--end: Wizard عملیات-->
                        </form>
                        <!--end::Form-->
                    </div>
                    <!--end::Signin-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->

    <!--begin::Global Config(global config for global JS scripts)-->
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1400
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#3699FF",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#E4E6EF",
                        "dark": "#181C32"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1F0FF",
                        "secondary": "#EBEDF3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#3F4254",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#EBEDF3",
                    "gray-300": "#E4E6EF",
                    "gray-400": "#D1D3E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#7E8299",
                    "gray-700": "#5E6278",
                    "gray-800": "#3F4254",
                    "gray-900": "#181C32"
                }
            },
            "font-family": "Poppins"
        };
    </script>
    <!--end::Global Config-->

    <!--begin::Global تم Bundle(used by all pages)-->
    <script src="/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="/js/scripts.bundle.js?v=7.0.6"></script>
    <!--end::Global تم Bundle-->


    <!--begin::Page Scripts(used by this page)-->
    <script src="/js/pages/custom/login/login-3.js?v=7.0.6"></script>
    <!--end::Page Scripts-->
</body>
</html>